#title{
    font-size: 36px;
}

#main-options{
    margin-left: 100%;
    margin-top: 0%;
    margin-bottom: 15px;
}

#header{
    margin-bottom: 10px;
    height: 70px;
}

.imageToFit{
    height: 100%;
    width: 100%;
}

.imageToFit:hover{
    opacity: 0.1;
}

.thumbnail{
    height: 250px;
    width: 250px;
    border: 2px solid;
    border-radius: 20px;
    margin-left: 20%;
    margin-bottom: 5px;
}

