<!DOCTYPE html> 
<html>
  <head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css"> 
    <link rel="stylesheet" href="static/home.css">
  </head>
  
  <!-- Header -->
  <div class="pure-g" id="header">
    <div class="pure-u-1-1" id="title">
      <p><center>WhiteBoard{% if session|length > 0 %}: {{ session["username"] }} {% endif %}
      </center></p>
    </div>
  </div>
  <div class="pure-g" id="header">
    <div class="pure-u-1-3">
      <div class="pure-menu pure-menu-open pure-menu-horizontal" id="main-options">
	<ul>
	  <!-- Change menu for logged user -->
	  {% if session|length > 0 %}
	  <li><a href="/"></a></li>
	  {% endif %}
	  {% if session|length == 0 %}
	  <li><a href="{{ url_for('login_html') }}">Login</a></li>
	  {% endif %}
	  {% if session|length == 0 %}
	  <li><a href="/register">Register</a></li>
	  {% endif %}
	  <li><a href="/boards">View Boards</a></li>
	  <li><a href="/search">Search Boards</a></li>
	  {% if session|length > 0 %}
	  <li><a href="/logout">Logout</a></li>
	  {% endif %}
	  {% if session|length > 0 %}
	  <li><a href="/"></a></li>
	  {% endif %}
	</ul>
      </div>
    </div>
  </div>

  <!--- Preview Boards -->
  <div class="pure-g">

    {% for thumb in thumbs %}
    <div class="pure-u-1-3 darken">
      <div class="thumbnail">
	<p><img src="{{ thumb }}" class="imageToFit"></img></p>
      </div>
    </div>
    {% endfor %}
    
    <!-- old stuff
	 <div class="pure-u-1-3 darken">
	   <div class="thumbnail">
	     <p>Board here.</p>
	   </div>
	 </div>

	 <div class="pure-u-1-3 darken">
	   <div class="thumbnail">
	     <p>Board here.</p>
	   </div>
	 </div>
  </div>

  <div class="pure-g" id="options">

    <div class="pure-u-1-3">
      <div class="thumbnail">
	<p>Board here.</p>
      </div>
    </div>

    <div class="pure-u-1-3">
      <div class="thumbnail">
	<p>Board here.</p>
      </div>
    </div>

    <div class="pure-u-1-3">
      <div class="thumbnail">
	<p>Board here.</p>
      </div>
    </div>

  </div>
  -->




</body> 
</html>
